<table>
  <% book.book_comments.each do |comment| %>
    <tr>
      <td>
        <%= image_tag comment.user.get_profile_image(100, 100) %><br>
          <%= comment.user.name %>
      </td>
      <td>
        <%= comment.comment %>
      </td>
      <td>
        <% if comment.user == current_user %>
          <%= link_to "Destroy", book_book_comment_path(comment.book,comment), class:"btn btn-sm btn-danger", method: :delete, remote: true %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>